html, body {
    font-family:    'Franklin Gothic Medium';
    color: white;
    margin: 0;
    padding: 0;
    background-color: rgb(15, 15, 15);
}


.about_me_bg {
    background-color: black;
    width: 100%;
    padding-bottom: 2rem;
}


.about_me_main {
    margin: auto;
    width: 75%;
}


.exp_bg {
    margin: auto;
    width: 75%;
}