html, body {
    font-family:    'Franklin Gothic Medium';
    color: white;
    margin: 0;
    padding: 0;
    background-color: rgb(15, 15, 15);
}


li {
    margin-bottom: 0.5rem;
}

p, li {
    line-height: 1.6;
}


.about_me_bg {
    background-color: black;
    width: 100%;
    padding-bottom: 1rem;
}


.about_me_main {
    margin: auto;
    width: 55%;
}


.exp_bg {
    margin: auto;
    width: 55%;
}
